@model SibaDev.Models.INS_UWD_POLICY_HEAD

@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Css/Custom/rptMotor.css" rel="stylesheet" />
<script src="~/Scripts/Js/jquery-1.11.3.min.js"></script>
<script src="~/Scripts/Js/bootstrap.min.js"></script>
<link href="~/Content/Images/font-awesome-4.6.2/font-awesome-4.6.2/css/font-awesome.min.css" rel="stylesheet" />

<script>
    function printpage() {
        document.getElementById('btnPrint').style.visibility = "hidden";
        window.print();
    }
</script>

<div class="row">
    <button id="btnPrint" type="button" value="Print" onClick="printpage()">
        <i class="fa fa-print fa-3x" title="Delete" aria-hidden="true"></i>
    </button>
</div>

<div class="book">
    <div class="page">
        <div class="subpage">

            <div class="col-md-12 tdfont">

                <table style="width: 100%; text-align:center;" class="motor_detail">
                    <tr>
                        <td style="width: 50%; border-right:1px solid black;"><p style="text-align:center;"><img src="~/Content/Images/multi-main1.png" /></p></td>
                        <td style="width: 50%; text-align:center; font-size:medium; font-family:'Lucida Sans'">
                            <p style="text-align:center;font-weight:400; font-size:x-large">@Model.MS_SYS_COMPANY.CMP_NAME</p>
                            <p>@Model.MS_SYS_COMPANY.CMP_HEAD_OFFICE_ADD</p>
                            <p>@Model.MS_SYS_COMPANY.CMP_PHONE</p>
                            <p>@Model.MS_SYS_COMPANY.CMP_EMAIL</p>
                            <p>@Model.MS_SYS_COMPANY.CMP_WEBSITE</p>
                        </td>
                    </tr>

                </table>

                <p style="text-align:center;font-weight:700; font-size:x-large">@Model.MST_UWD_PRODUCT.PDT_NAME</p>

                <table style="width: 100%;" class="table table-bordered">
                    <tr>
                        <td style="width: 30%" colspan="2"> <b>Issue Date of Policy</b></td>
                        <td> @Html.DisplayFor(x => x.POLH_POL_START_DATE)</td>
                        <td> <b>Policy No.:</b> @Model.POLH_DISPLAY_NO</td>
                    </tr>

                    <tr>
                        <td style="width: 30%" colspan="2">

                            <p style="margin-top: 50px"><b>Policy Holder</b></p>

                        </td>
                        <td style="font-family:'Trebuchet MS';">

                            <p><b>Insured Code: </b> <span style="float:right">@Model.MS_UDW_CUSTOMERS.CUS_CODE</span> </p>
                            <p><b>Insured Name: </b> <span style="float:right">@Model.MS_UDW_CUSTOMERS.CUS_OFFICIAL_NAME</span> </p>
                            <p><b>Insured Address: </b> <span style="float:right">@Model.MS_UDW_CUSTOMERS.CUS_ADDRS1 </span> </p>
                            <p><b>Occupation: </b> <span style="float:right">@Model.MS_UDW_CUSTOMERS.CUS_PROFESSION</span> </p>

                        </td>
                        <td></td>
                    </tr>

                    <tr>
                        <td style="width: 30%;" rowspan="4" colspan="2" class="tvertical">
                            <p style="margin-top: 80px"><b>Policy Details</b></p> 
                        </td>
                        <td> <b>Policy Number:</b> @Model.POLH_DISPLAY_NO </td>
                        <td> <b>Endorsement Number:</b> @Model.POLH_END_NO </td>
                    </tr>

                    <tr>
                        @*  <td style="width: 30%" colspan="2"> <b>Policy Details</b></td>*@
                        <td><b>Period:</b>  @Html.DisplayFor(x => x.POLH_POL_START_DATE)</td>
                        <td><b>To:</b> @Html.DisplayFor(x => x.POLH_POL_END_DATE) </td>
                    </tr>

                    <tr>
                        @*  <td style="width: 30%" colspan="2"> </td>*@
                        <td colspan="2" style="font-family:'Trebuchet MS';">
                            (1) Both Days Inclusive <br />
                            (2)Any subsequent period for which the insured shall
                            pay and the Company shall agree to accept a renewal premium.
                        </td>
                    </tr>

                    <tr>
                        @*  <td style="width: 30%" colspan="2"> </td>*@
                        <td colspan="2">
                            <b>Cover:</b> <span style="font-family:'Trebuchet MS';">
                               @Model.MST_UWD_PRODUCT.PDT_NAME
                            </span>
                        </td>
                    </tr>

                    <tr>
                        <td style="width: 30%" colspan="2"> <b>Premium Details</b></td>
                        <td colspan="2">
                            Basic Premium:  @Model.MS_SYS_EXCHANGE_RATES.EXR_CODE <b>@Html.DisplayFor(m => m.POLH_POL_PREM_FC)</b> <br />
                            <span style="margin-left:32px">Discount:  @Model.MS_SYS_EXCHANGE_RATES.EXR_CODE <b>@Html.DisplayFor(m => m.POLH_POL_DISC_FC) </b></span><br />
                            <span style="margin-left:32px">Loadings:  @Model.MS_SYS_EXCHANGE_RATES.EXR_CODE <b>@Html.DisplayFor(m => m.POLH_POL_LOAD_FC) </b></span><br />
                            <span><b>Premium(GH):</b>    @Model.MS_SYS_EXCHANGE_RATES.EXR_CODE <b>@Html.DisplayFor(m => m.POLH_POL_PREM_FC)</span>
                        </td>
                    </tr>

                    <tr>
                        <td style="width: 30%" colspan="2"> <b>Agency Details</b></td>
                        <td colspan="2">

                            @foreach (var rsk in Model.INS_UWD_INTERMEDIARY_COMM)
                            {
                                @rsk.MS_SYS_INTERMEDIARY.INT_OFFICIAL_NAME <br />
                            }

                        </td>
                    </tr>


                </table>

                <p style="text-align:center;font-weight:700; font-size:medium">RISK DETAILS</p>

                <table style="width:100%;" class="motor_detail">

                    <tr style="height:30px; border:1px #000 solid; text-align: center;">
                        <td style="width:40%; border:1px #000 solid;">
                            <p><strong>Description</strong></p>
                        </td>
                        <td colspan="2" style="width:30%; border:1px #000 solid;">
                            <p><strong>Principal</strong> </p>
                        </td>

                        <td style="width:20%; border:1px #000 solid;"> 
                            <p><strong></strong></p>
                        </td>

                    </tr>

                    @foreach (var be in Model.INS_UDW_BONDS)
                    {
                        
                        <tbody style="border-top:2px #000 solid;">

                            <tr valign="top" style="height:20px; text-align:center;">

                                <td style="border:1px #000 solid;">                                  
                                    <p> @be.BOND_DESCRIPTION</p>
                                </td>
                                <td colspan="2" style="border:1px #000 solid">
                                    <p> @be.BOND_PRINCIPAL</p>
                                </td>

                                <td style="border:1px #000 solid;"></td>

                            </tr>

                            <tr valign="top" style="height:20px; text-align:center;">

                                <td style="border:1px #000 solid;">
                                    <p><strong></strong></p>
                                </td>
                                <td style="border:1px #000 solid;">
                                    <p><strong>Sum Insured (GHC)</strong></p>
                                </td>
                                <td style="border:1px #000 solid;">
                                    <p><strong>Premium (GHC)</strong></p>
                                </td>
                                <td style="border:1px #000 solid;">
                                    <p><strong>Interest Excess</strong></p>
                                </td>

                            </tr>

                            <tr valign="top" style="height:20px; text-align:center;">

                                <td style="border:1px #000 solid;">

                                </td>
                                <td style="border-left:1px #000 solid;">
                                    @Html.DisplayFor(m => m.POLH_POL_SI_FC)
                                    @*@Html.DisplayFor(m => m.RCOV_SI_FC)*@
                                </td>
                                <td style="border:1px #000 solid">
                                    @Html.DisplayFor(m => m.POLH_POL_PREM_FC)
                                </td>
                                <td style="border-left:1px #000 solid; border-right:1px #000 solid;"></td>

                            </tr>

                            <tr valign="top" style="height:20px; text-align:center;">

                                <td style="border:1px #000 solid">
                                    <p><strong>Total</strong></p>
                                </td>
                                <td style="border:1px #000 solid">
                                  @Html.DisplayFor(m => m.POLH_POL_SI_FC)
                                </td>
                                <td style="border:1px #000 solid">
                                   @Html.DisplayFor(m => m.POLH_POL_PREM_FC)
                                </td>
                                <td style="border:1px #000 solid"></td>

                            </tr>

                            <tr valign="top" style="height:20px; text-align:center;">

                                <td style="border-left:1px #000 solid; border-right:1px #000 solid;">
                                    <p><strong>Grand Total</strong></p>
                                </td>
                                <td width="12%" style="border-left:1px #000 solid; border-right:1px #000 solid;">
                                    @Html.DisplayFor(m => m.POLH_POL_SI_FC)
                                </td>
                                <td width="12%" style="border-left:1px #000 solid; border-right:1px #000 solid;">
                                    @Html.DisplayFor(m => m.POLH_POL_PREM_FC)
                                </td>
                                <td style="border-left:1px #000 solid; border-right:1px #000 solid;"></td>

                            </tr>

                        </tbody>

                    }

                </table>


                <table style="width:85%;">
                    <tr valign="top" style="margin-top: 10px;">
                        <td width="50%" valign="middle">Branch: <strong>@Model.MS_SYS_OFFICE.OFF_NAME</strong> <br /> </td>

                        <td width="70%" valign="middle">For and Behalf of: <strong>@Model.MS_SYS_COMPANY.CMP_NAME </strong> <br /> </td>
                    </tr>

                    <tr valign="top">
                        <td height="32" valign="middle"><p><strong>Examined By.......................................................................</strong></p></td>
                    </tr>
                </table>

            </div>

        </div>
    </div>

</div>

