@model SibaDev.Models.INS_UWD_POLICY_HEAD
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Css/Custom/rptMotor.css" rel="stylesheet" />
<script src="~/Scripts/Js/jquery-1.11.3.min.js"></script>
<script src="~/Scripts/Js/bootstrap.min.js"></script>
<link href="~/Content/Images/font-awesome-4.6.2/font-awesome-4.6.2/css/font-awesome.min.css" rel="stylesheet" />

<script>
    function printpage() {
        document.getElementById('btnPrint').style.visibility = "hidden";
        window.print();
    }
</script>


<div class="row">
    <button id="btnPrint" type="button" value="Print" onClick="printpage()">
        <i class="fa fa-print fa-3x" title="Delete" aria-hidden="true"></i>
    </button>
</div>



    <div class="page">
        <div class="subpage">

            <div class="row">
                <div class="col-md-12 center-block">
                    <p style="text-align:center;"><img src="~/Content/Images/multi.jpg" height="100" /></p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 center-block">
                    <p style="text-align:center;font-weight:normal;font-size:11px;border:0px red solid;width:100%;">MOTOR VEHICLES (THIRD PARTY INSURANCE) ACT 1958 (GHANA)</p>
                    <p style="text-align:center;font-weight:bold;">CERTIFICATE OF INSURANCE</p>
                </div>
                <div class="col-md-1"></div>
            </div>
            <hr />
            <table style="width:100%;" height="86">
                <tr>
                    <td width="168"><strong>Policy No:</strong></td>
                    <td width="370" class="info" style="text-align:left">@Model.POLH_DISPLAY_NO</td>

                    <td width="138"><strong>Policy Cover:</strong></td>
                    <td width="370" class="info" style="text-align:left">@Model.POLH_DISPLAY_NO</td>
                </tr>
                <tr>
                    <td width="168"><strong>Business Type:</strong></td>
                    <td width="370" class="info" style="text-align:left"></td>
                </tr>
                <tr>
                    <td width="168"><strong>Certificate No:</strong></td>
                    <td width="370" class="info" style="text-align:left"></td>

                    <td width="168"><strong>Seating Cap:</strong></td>
                    <td width="370" class="info" style="text-align:left"></td>
                </tr>
                <tr>
                    <td width="168"><strong>Usage Type:</strong></td>
                    <td width="370" class="info" style="text-align:left"></td>

                    <td width="138"><strong>Cert Type:</strong></td>
                    <td width="370" class="info" style="text-align:left"></td>
                </tr>
            </table>
            &nbsp;
            <table style="width: 100%; margin-top: 20px;">
                <tr>
                    <td style="width: 55%;">
                        <p><strong>1. Index Mark and Registration of Vehicle:</strong></p>                                                 
                    </td>
                    <td>
                        @foreach (var be in Model.INS_UWD_VEHICLE_RISK)
                        { @be.VEH_VEH_REG_NO }
                    </td>
                </tr>

                <tr>
                    <td style="width: 55%;">
                        <p><strong>2. Name of Policy Holder:</strong></p>
                    </td>
                    <td>
                        @Model.MS_UDW_CUSTOMERS.CUS_OFFICIAL_NAME
                    </td>
                </tr>

                <tr>
                    <td style="width: 55%;">
                        <p><strong>3. Effective Date of the Commencement of Insurance for the purpose of the Act:</strong></p>
                    </td>
                    <td>
                        @Html.DisplayFor(x => x.POLH_POL_START_DATE)
                    </td>
                </tr>

                <tr>
                    <td style="width: 55%;">
                        <p>4. <strong>Date of Expiry of Insurance:</strong></p>
                    </td>
                    <td>
                       @Html.DisplayFor(x => x.POLH_POL_END_DATE)
                    </td>
                </tr>


            </table>

            <table>
                <tr>
                    <td style="width: 100%;">
                        <p><strong>5. Persons or Classes of Persons Entitled to Drive:</strong></p>

                        <p>
                            @foreach (var rsk in Model.INS_UWD_VEHICLE_RISK)
                            {
                                @rsk.MS_UDW_MOTOR_RISK.MRK_ENT_TO_DRIVE
                            }
                        </p>
                    </td>
                </tr>

                <tr>
                    <td style="width: 100%;">
                        <p> <strong>6. Limitation as to Use:</strong></p>

                        <p>
                            @foreach (var rsk in Model.INS_UWD_VEHICLE_RISK)
                            {
                                @rsk.MS_UDW_MOTOR_RISK.MRK_LIMT_USE
                            }
                        </p>
                    </td>
                </tr>

                <tr>
                    <td style="width: 100%;">
                        <p><strong>7. The Policy does not Cover:</strong></p>

                        <p>
                            @foreach (var rsk in Model.INS_UWD_VEHICLE_RISK)
                            {
                                @rsk.MS_UDW_MOTOR_RISK.MRK_DOES_NOT_COV
                            }
                        </p>
                    </td>
                </tr>

            </table>

            &nbsp;
            &nbsp;
            <table style="width: 100%">
                <tr valign="top">
                    <td width="110"><strong>Issued By:</strong></td>
                    <td width="564">
                        <span class="info">
                            @Model.MS_SYS_COMPANY.CMP_NAME
                        </span>
                    </td>
                    <td width="57" align="center"><strong>Issued: </strong></td> &nbsp;
                    <td width="265" align="left"><span class="info">@Html.DisplayFor(x => x.POLH_POL_START_DATE)</span></td>
                </tr>
            </table>
            &nbsp;
            &nbsp;
            <div class="row">
                <!-------------------Footer------------------->
                <div class="col-md-12" style="float:left">
                   <strong> I/WE HEREBY CERTIFY that the policy to which this certificate relate is issued in accordance with the provisions of the MOTOR VEHICLES (THIRD PARTY INSURANCE) ACT 1938 (GHANA)</strong>
                </div>
            </div>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            <div class="row">
                <div class="col-sm-5">
                    <strong>Examined by</strong>.........................................
                </div>
                <div class="col-sm-2">
                   
                </div>
                <div class="col-sm-5">
                    ...........................................................
                </div>
            </div>

            <div class="row">
                <div class="col-sm-5">
                   
                </div>
                <div class="col-sm-2">
                   
                </div>
                <div class="col-sm-5">
                    <strong>MOTOR UNDERWRITING MANAGER</strong>
                </div>
            </div>

        </div>
    </div>




